@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Editar usuario</h2>

<div>
    <h4>Actualice los campos del usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
